{% extends 'web/base.html' %}
{% block content %}  

    {% if not user.is_anonymous %}
        Вы авторизованны как <b>{{ user.username }}</b>
        <a href="{% url 'reviews_add' %}">Создать рецензию</a>
    {% endif %}

    {% if user.is_staff %}
        У вас есть доступ сотрудника
    {% endif %}

    <ul>
        {% for movie in movies %}
        <li>
            <b>{{ movie.title }}</b>
            {{ movie.director }}
            {{ movie.genre }}
            {{ movie.description }}
        </li>
        {% endfor %}
    </ul>

{% endblock %}